![ine-divider](https://user-images.githubusercontent.com/7065401/92672068-398e8080-f2ee-11ea-82d6-ad53f7feb5c0.png)
<hr>

### MySQL and MariaDB for Python Developers
# Working with the Python DBA and MySQL

In this project, you will practice using Python's DB-API to access MySQL (or MariaDB).

You will need access to a MySQL installation where you have superuser permissions. If you do not have such access elsewhere, installing to your personal workstation is a good idea.  Alternately, you might wish to use a Docker container for a self-contained installation.  See `https://hub.docker.com/_/mysql` for details on that option.  

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Part 1

**Move data into MySQL**

In this respository, there is an SQLite database called `Airline-Tweets.sqlite`.  The lesson briefly mentioned `sqlite3` as a module in the standard library that will interact with single-file relational databases.  In particular, `sqlite3`, like `mysql.connector` generally follows the DB-API.  Although more specifics of the MySQL data definition language (DDL) are discussed in a later lesson, we assume you have a basic familiarity with the the SQL `CREATE TABLE` command for this purpose.

The scenario posed in this problem is that you have some data in a different database (SQLite), and you wish to transfer all contents to MySQL.  Moreover, you wish to do this *entirely* within Python and using the DB-API.  You will need to determine the structure and data types of the SQLite data, create an appropriate MySQL table, and transfer all rows into MySQL.  This particular SQLite data file contains only one table, named `Tweets` (about customer ratings of airlines).

To get a partial view of the kind of data we are transferring, this is a query performed within the `sqlite` command shell, which is generally similar to the `mysql` command shell that is discussed in later lessons.  However, you should perform all your work in Python for this project (the example does **not** list all the columns).

```
$ sqlite Airline-Tweets.sqlite
SQLite version 3.33.0 2020-08-14 13:23:32
Enter ".help" for usage hints.
sqlite> SELECT tweet_id, airline, airline_sentiment, tweet_created FROM Tweets LIMIT 5;
tweet_id            airline    airline_sentiment  tweet_created
------------------  ---------  -----------------  -------------------------
567588278875213824  Delta      neutral            2015-02-16 23:36:05 -0800
567590027375702016  Delta      negative           2015-02-16 23:43:02 -0800
567591480085463040  United     negative           2015-02-16 23:48:48 -0800
567592368451248130  United     negative           2015-02-16 23:52:20 -0800
567594449874587648  Southwest  negative           2015-02-17 00:00:36 -0800
```

In [1]:
import mysql.connector
import sqlite3
# ... your code here ...

**Hint**

Unfortunately, the `cursor.description` in `sqlite3` isn't as informative as one might like.  For guidance, you can look at this:

```
sqlite> pragma table_info('Tweets');
cid  name                          type     notnull  dflt_value  pk
---  ----------------------------  -------  -------  ----------  --
0    tweet_id                      INTEGER  0                    1
1    airline_sentiment             TEXT     0                    0
2    airline_sentiment_confidence  NUMERIC  0                    0
3    negativereason                TEXT     0                    0
4    negativereason_confidence     NUMERIC  0                    0
5    airline                       TEXT     0                    0
6    airline_sentiment_gold        TEXT     0                    0
7    name                          TEXT     0                    0
8    negativereason_gold           TEXT     0                    0
9    retweet_count                 INTEGER  0                    0
10   text                          TEXT     0                    0
11   tweet_coord                   TEXT     0                    0
12   tweet_created                 TEXT     0                    0
13   tweet_location                TEXT     0                    0
14   user_timezone                 TEXT     0                    0
```

It is wise also to examine some sample rows to decide the best MySQL data types.  SQLite is more generic than MySQL about data types.

**A possible solution**

You will need to make some decisions about data types and other details. These are plausible answers.

In [2]:
user, pwd, db = 'ine_student', 'ine-password', 'ine'
host, port = 'localhost', '3306'
con_dest = mysql.connector.connect(database=db, host=host, user=user, password=pwd, port=port)
cur_dest = con_dest.cursor()

In [3]:
# create MySQL table
sql_create_tweets = '''
CREATE TABLE IF NOT EXISTS Tweets (
    tweet_id DECIMAL(18) PRIMARY KEY,
    airline_sentiment TEXT,
    airline_sentiment_confidence REAL,
    negativereason TEXT,
    negativereason_confidence REAL,
    airline TEXT,
    airline_sentiment_gold TEXT,
    name TEXT,
    negativereason_gold TEXT,
    retweet_count INT,
    text TEXT,
    tweet_coord TEXT,
    tweet_created TIMESTAMP,
    tweet_location TEXT,
    user_timezone TEXT
    );
'''
cur_dest.execute("DROP TABLE IF EXISTS Tweets;")
cur_dest.execute(sql_create_tweets)
con_dest.commit()

In [4]:
con_src = sqlite3.connect('Airline-Tweets.sqlite') 
cur_src = con_src.cursor()
cur_src.execute("SELECT * FROM Tweets")

The obvious approach will fail because some numeric values are missing, but SQLite gives you an empty string rather than `None`.  We can fix that in Python.  We also have a problem with timestamp.  MySQL needs it without the offset, but we should set that offset manually first.

In [5]:
# Offset indicated in SQLite
cur_dest.execute("SET time_zone = '-08:00';")

sql_insert = """
INSERT INTO Tweets 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
for src_row in cur_src:
    row = [data or None for data in src_row]
    timestamp = row[12][:19]  # Omit offset portion
    row[12] = timestamp
    row = tuple(row)
    cur_dest.execute(sql_insert, row)
    
con_dest.commit()

In [6]:
from pprint import pprint
cur_dest.execute("SELECT * FROM Tweets LIMIT 2;")
cols = [c[0] for c in cur_dest.description]
for row in cur_dest:
    pprint(dict(zip(cols, row)))

{'airline': 'Delta',
 'airline_sentiment': 'neutral',
 'airline_sentiment_confidence': 1.0,
 'airline_sentiment_gold': None,
 'name': 'JetBlueNews',
 'negativereason': None,
 'negativereason_confidence': None,
 'negativereason_gold': None,
 'retweet_count': None,
 'text': "@JetBlue's new CEO seeks the right balance to please passengers and "
         'Wall ... - Greenfield Daily Reporter http://t.co/LM3opxkxch',
 'tweet_coord': None,
 'tweet_created': datetime.datetime(2015, 2, 16, 23, 36, 5),
 'tweet_id': Decimal('567588278875213824'),
 'tweet_location': 'USA',
 'user_timezone': 'Sydney'}
{'airline': 'Delta',
 'airline_sentiment': 'negative',
 'airline_sentiment_confidence': 1.0,
 'airline_sentiment_gold': None,
 'name': 'nesi_1992',
 'negativereason': "Can't Tell",
 'negativereason_confidence': 0.6503,
 'negativereason_gold': None,
 'retweet_count': None,
 'text': '@JetBlue is REALLY getting on my nerves !! ðŸ˜¡ðŸ˜¡ #nothappy',
 'tweet_coord': None,
 'tweet_created': datetime.datetime(2015, 2, 16, 23, 43, 2),
 'tweet_id': Decimal('567590027375702016'),
 'tweet_location': 'undecided',
 'user_timezone': 'Pacific Time (US & Canada)'}

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Part 2

**Skipping problem data when loading**

For this task, we will largely repeat the steps fo the first task.  However, you probably encountered certain problems with the data transfer that you had to manually remediate using Python code.  Rather than "fix up" the data in Python, for this version you should simply transfer the unproblematic data, but create another table called `data_issues` where you store the unique `tweet_id` of the problem row, and the error message that occurred.

In your solution, **some** data will transfer without remediation, and other data will be marked for later processing in this manner.

In [7]:
import mysql.connector
import sqlite3
# ... your code here ...

**A possible solution**

We assume for this solution that the target table `Tweets` is created with the same definition as in the prior part. This is a situationâ€”when we wait for exception from MySQLâ€”where a connection pool can help us greatly.

In [8]:
sql_create_issues = """
CREATE TABLE data_issues (
    tweet_id DECIMAL(18) PRIMARY KEY, 
    message TEXT
    );
"""
# Clear out old content of dest
cur_dest.execute('DROP TABLE IF EXISTS data_issues;')
cur_dest.execute(sql_create_issues)
cur_dest.execute('DROP TABLE IF EXISTS Tweets')
cur_dest.execute(sql_create_tweets)
con_dest.commit()

In [9]:
from threading import Thread
from time import sleep
from queue import Queue
qsize = 20
pool = Queue(maxsize=qsize)  
for _ in range(qsize):
    conn = mysql.connector.connect(
                database=db, host=host, user=user, password=pwd, port=port)
    pool.put(conn)

In [10]:
# Unfortunately, the timestamp format we simply have to fix, 
# the NULL issue we can separate out

def add_row(pool, row):
    conn = pool.get()
    cursor = conn.cursor()    
    try:
        row = list(row)
        row[12] = row[12][:19]  # Omit offset portion
        cursor.execute(sql_insert, tuple(row))
    except Exception as err:
        conn.rollback()
        cursor.execute("INSERT INTO data_issues VALUES (%s, %s);",
                       (row[0], str(err)))
    finally:
        conn.commit()
        pool.put(conn)

In [11]:
%%time
cur_src.execute("SELECT * FROM Tweets")

for row in cur_src:
    t = Thread(target=add_row, args=(pool, row))
    t.start()
    t.join()

CPU times: user 9.89 s, sys: 4.63 s, total: 14.5 s
Wall time: 1min 54s

In [12]:
cur_dest.execute('SELECT count(*) FROM Tweets;')
cur_dest.fetchone()

(10416,)

In [13]:
cur_dest.execute("SELECT * FROM data_issues LIMIT 5;")
cur_dest.fetchall()

[(Decimal('567588278875213824'),
  "1265 (01000): Data truncated for column 'negativereason_confidence' at row 1"),
 (Decimal('567634106058821632'),
  "1265 (01000): Data truncated for column 'negativereason_confidence' at row 1"),
 (Decimal('567643252753694721'),
  "1265 (01000): Data truncated for column 'negativereason_confidence' at row 1"),
 (Decimal('567655489119326209'),
  "1265 (01000): Data truncated for column 'negativereason_confidence' at row 1"),
 (Decimal('567667301067915264'),
  "1265 (01000): Data truncated for column 'negativereason_confidence' at row 1")]

In [14]:
cur_dest.execute("SELECT count(*) FROM data_issues;")
cur_dest.fetchone()

(4069,)

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)